.ul {
    list-style: none
}

.a {
    text-decoration: none;
    color: #fff;
    font-size: 18px
}

.navbar {
    background-color: rgba(57, 26, 160, .85);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 70px
}

.navLink {
    color: #fff;
    margin-right: 60px;
    letter-spacing: 5px
}

.navLink:hover {
    padding: 5px;
    border-bottom: 2px solid #fd1995;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.logo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px
}

@media screen and (max-width:780px) {
    .hamburger {
        display: block;
        cursor: pointer
    }

    .bar {
        background-color: #fff;
        width: 20px;
        height: 3px;
        display: block;
        margin: 5px;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0
    }

    .hamburger.active .bar:first-child {
        transform: translateY(8px) rotate(45deg)
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg)
    }

    .navMenu {
        position: absolute;
        flex-direction: column;
        gap: 0;
        top: 110px;
        left: -100%;
        text-align: start;
        width: 100%;
        transition: .7s ease-in-out;
        background-color: rgba(57, 26, 160);
        padding: 10px;
        z-index: 12
    }

    .navMenu.active {
        left: 0
    }

    .navMenu li {
        margin: 16px 0
    }
}